<html>
<head>
<style>
div.gallery {
  margin: 5px
  border: 1px solid #333333;
  float:  left;
  width: 325px
}
div.gallery: hover {
  border: 1px solid #777
}
div.gallery img {
  width: 100%
  padding: 10px
  height: auto
}
div.desc {
  padding: 15px
  text-align: center;
  background-color: hsla(0, 100%, 90%, 0.3);
}
</style>
</head>
<body>

<h2>Beautiful Photos of Donald Trump</h2>

<div class="gallery">
  <a target="blank" href="trump.jpg">
    <img src="trump.jpg" width="300" height="200"></a>
  <div class="desc">Presidential Trump</div>
</div>

<div class="gallery">
  <a target="blank" href="trump2.jpg">
    <img src="trump2.jpg" width="300" height="200"></a>
  <div class="desc">Thumbs Up Trump</div>
</div>

<div class="gallery">
  <a target="blank" href="trump3.jpg">
    <img src="trump3.jpg" width="300" height="200"></a>
  <div class="desc">American Trump</div>
</div>

<div class="gallery">
  <a target="blank" href="trump4.jpg">
    <img src="trump4.jpg" width="300" height="200"></a>
  <div class="desc">Papa Trump</div>
</div>

<div class="gallery">
  <a target="blank" href="trump5.jpg">
    <img src="trump5.jpg" width="300" height="200"></a>
  <div class="desc">Silly Trump</div>
</div>

<div class="gallery">
  <a target="blank" href="trump6.jpg">
    <img src="trump6.jpg" width="300" height="200"></a>
  <div class="desc">Wrestling Trump</div>
</div>

<div class="gallery">
  <a target="blank" href="trump7.jpg">
    <img src="trump7.jpg" width="300" height="200"></a>
  <div class="desc">Goofy Trump</div>
</div>

<div class="gallery">
  <a target="blank" href="trump8.jpg">
    <img src="trump8.jpg" width="300" height="200"></a>
  <div class="desc">Make America Great Again</div>
</div>

</body>
</html>
