<h2>Login</h2>
<p>Input your information below to login to your account!</p><br>
<form action="/login" method="post">
  Username:<input type="text" name="username"><br><br>
Password: <input type="password" name="password"><br><br>
  <input type="submit" value="Login!">
</form>
<p>Don't have an account yet? <a href="/createaccount">Click here to register!</a></p>
