<h1>Amazing Videos of the American President!</h1><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/f0UB06v7yLY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/e7UcQcD9INI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/C-n3AMxdgsY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
